#about-description {
    text-align: center;
    width: 75%;
    margin: 0 auto;
    padding-top: 30px;
    color: rgb(28, 74, 97);
    font-size: 24px;
}

#about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin: 0 auto;
    padding-top: 80px;
    max-width: 1000px;
}

.about-item {
    border: 1px solid rgb(28, 74, 97);
    border-radius: 20px;
    padding: 25px;
}

.about-item h2 {
    color: rgb(194, 147, 28);
    margin-bottom: 30px;
}

.about-item p {
    color: rgb(28, 74, 97);
    line-height: 1.5em;
}