#thumbnail-banner {
    width: 100%;
    overflow: hidden;
    margin-top: 50px;
}

#banner-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

#blog-post-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    margin-top: 50px;
}

#blog-post-sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100px;
    align-items: center;
    margin-top: 80px;
}

#blog-post-content {
    width: 100%
}

.sidebar-icon {
    width: 50px;
    height: auto;
    cursor: pointer;
}

#blog-post-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.post-metadata {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

#post-summary {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 50px;
    color: rgb(90, 90, 90);
}

#post-content {
    font-size: 16px;
    line-height: 1.5;
}